/Dia3/nbproject/private/
/Dia3/build/
/DIA_3/nbproject/private/
/Dia5/nbproject/private/
/Dia5/build/
/Dia6/nbproject/private/
/Dia6/build/
/Dia_7/nbproject/private/
/Dia_7/build/
/Arreglos/nbproject/private/
/Dia_8/nbproject/private/
/Dia_8/build/
/Dia_8/dist/
